{
    "CONSUMER_KEY" : "============================================================",
    "CONSUMER_SECRET" : "========================================",
    "YAHOO_AUTH_CODE" : "=======",
    "LEAGUE_KEY" : "===.l.=====",
    "TEAM" : "1",
    "AUTH_FILE" : "./credentials.json"
}